html,
body {
  font-family: NeurialGrotesk, sans-serif !important;
  overflow-x: hidden;
}

p {
  font-size: 1.1rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffcf40 #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background: #fff;
}
::-webkit-scrollbar-track {
  border-left: 1px solid #fbfbfb;
  -webkit-box-shadow: inset 0 0 1px transparent;
}
::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 1px #555;
}
::-webkit-scrollbar-thumb {
  border-left: 1px solid #ffcf40;
  background: #ffcf40;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}

::-webkit-scrollbar:horizontal {
  width: 4px;
  height: 5px;
  background: #fff;
}
::-webkit-scrollbar-track:horizontal {
  border-left: 1px solid #fbfbfb;
  -webkit-box-shadow: inset 0 0 1px transparent;
}
::-webkit-scrollbar-track:horizontal:hover {
  -webkit-box-shadow: inset 0 0 1px #555;
}
::-webkit-scrollbar-thumb:horizontal {
  border-left: 1px solid #ffcf40;
  background: #ffcf40;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #202020;
}

::-moz-scrollbar {
  width: 8px;
  height: 10px;
  background: #fff;
}
::-moz-scrollbar-track {
  border-left: 1px solid #fbfbfb;
  -moz-box-shadow: inset 0 0 1px transparent;
}
::-moz-scrollbar-track:hover {
  -moz-box-shadow: inset 0 0 1px #555;
}
::-moz-scrollbar-thumb {
  border-left: 1px solid #ffcf40;
  background: #ffcf40;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
::-moz-scrollbar-thumb:hover {
  background: #202020;
}

::-moz-scrollbar:horizontal {
  width: 4px;
  height: 5px;
  background: #fff;
}
::-moz-scrollbar-track:horizontal {
  border-left: 1px solid #fbfbfb;
  -moz-box-shadow: inset 0 0 1px transparent;
}
::-moz-scrollbar-track:horizontal:hover {
  -moz-box-shadow: inset 0 0 1px #555;
}
::-moz-scrollbar-thumb:horizontal {
  border-left: 1px solid #ffcf40;
  background: #ffcf40;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
::-moz-scrollbar-thumb:horizontal:hover {
  background: #202020;
}

:root {
  --cform-border-focus-color: rgba(167, 191, 249, 1);
  --cform-text-color: rgba(2, 18, 45, 1);
  --cform-accent: rgba(6, 23, 79, 1);
  --cform-border-color: rgba(149, 164, 192, 1);
}
.cform-custom-input {
  --cform-bg: rgba(255, 255, 255, 1);
  --cform-border-width: 1px;
  --cform-border-width-focus: 1px;
}

.has-dropdown > a::after {
  content: "";
  background: url("../assets/61797e2dabcf8de8d193de69_arrow-right.svg")
    no-repeat;
  background-size: 100%;
  height: 11px;
  width: 5px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 0 0 0 9px;
  position: relative;
  top: 0;
  opacity: 0.4;
}

.btn-nav {
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  border: solid 3px var(--bs-btn-border-color) !important ;
  font-weight: 600 !important;
}

.sector-item-check {
  color: #0a2e4d; 
  margin-right:8px;
}

.btn-outline-primary {
  --bs-btn-color: #0a2e4d !important;
  --bs-btn-border-color: #0a2e4d !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #0a2e4d !important;
  --bs-btn-hover-border-color: #0a2e4d !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0a2e4d !important;
  --bs-btn-active-border-color: #0a2e4d !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #0a2e4d !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #0a2e4d !important;
  --bs-gradient: none !important;
}

.btn-primary {
  --bs-btn-color: #0a2e4d !important;
  --bs-btn-bg: #ffcf40 !important;
  --bs-btn-border-color: #ffcf40 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #103d64 !important;
  --bs-btn-hover-border-color: #113c61 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0d365b !important;
  --bs-btn-active-border-color: #123e64 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0a2e4d !important;
  --bs-btn-disabled-border-color: #0a2e4d !important;
}

.btn-outline-secondary {
  --bs-btn-color: #cccccc !important;
  --bs-btn-border-color: #ccc !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #ccc !important;
  --bs-btn-hover-border-color: #ccc !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #ccc !important;
  --bs-btn-active-border-color: #ccc !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #ccc !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #ccc !important;
  --bs-gradient: none !important;
}

.btn-secondary {
  --bs-btn-color: #0a2e4d !important;
  --bs-btn-bg: #fff !important;
  --bs-btn-border-color: #fff !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #103d64 !important;
  --bs-btn-hover-border-color: #113c61 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0d365b !important;
  --bs-btn-active-border-color: #123e64 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0a2e4d !important;
  --bs-btn-disabled-border-color: #0a2e4d !important;
}

.btn:hover {
  border-color: var(--bs-btn-hover-border-color) !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-size-lg {
  font-size: 3.2rem;
}

.font-size-md {
  font-size: 1.8rem;
}

@media (min-width: 250px) and (max-width: 767px) {
  .font-size-lg {
    font-size: 2.5rem !important;
  }

  .font-size-md {
    font-size: 1.2rem !important;
  }
}

.color-primary {
  color: #0a2e4d;
}

.color-secondary {
  color: #ffcf40;
}

.bg-gradient-rainbow {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #ffcf40 31%,
    #fcc627 61%,
    #ffc517
  );
  -webkit-background-clip: text;
  background-clip: text;
  padding-bottom: 6px;
  font-size: 37px;
  font-weight: 700;
  line-height: 1;
}

.youtube-iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 1;
}

.container-yt-embed {
  width: 580px;
  height: 326px;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* background: #ccc; */
}
.play-content-video {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #0a2e4d55;
  /*top: 150px;
    */
  z-index: 20;
  top: 28%;
  left: 38%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.play-content-video:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  cursor: pointer;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.bi-play-fill::before {
  font-size: 9rem;
}
.icon-play {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 10px;
  color: #ffffffe3;
}

@media (min-width: 250px) and (max-width: 767px) {
  .container-yt-embed {
    height: 280px;
    width: 100%;
  }
}

.logo-item {
  width: 180px;
  height: 80px;
  /* background-color: #ccc; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.logo-item-service {
  width: 330px;
  height: 200px;
  /* background-color: #ccc;
  border-radius: 10px;   
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.logo-item-service img {
  height: auto;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.logo-item img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (min-width: 250px) and (max-width: 767px) {
  .logo-item {
    width: 100px;
    height: 50px;
  }
}

.container-img {
  width: 80%;
  height: 400px;
  /* background: #ccc; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.container-img-lg {
  width: 100%;
  height: 400px;
  /* background: #ccc; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container-img img,
.container-img-lg img {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (min-width: 250px) and (max-width: 767px) {
  .container-img {
    height: 300px;
    width: 90%;
  }
}

.mt-6 {
  margin-top: 5rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

/* slick-prev slick-arrow */
/* slick-next slick-arrow */

.slick-prev::before,
.slick-next::before {
  font-family: slick !important;
  font-size: 20px !important;
  line-height: 1 !important;
  opacity: 0.75 !important;
  color: #0a2e4d !important;
  -webkit-font-smoothing: antialiased !important;
}

.slick-prev,
.slick-next {
  font-size: 0px !important;
  line-height: 0 !important;
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0px !important;
  transform: translate(0px, -50%) !important;
  cursor: pointer !important;
  color: transparent !important;
  border: none !important;
  outline: none !important;
  background: transparent !important;
}

.slick-comments {
  width: 80% !important;
}

.comment-container {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  min-height: 400px;
  width: 320px;
  border: #0a2e4d solid 1px;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .comment-container {
    width: 285px;
  }
  .comment-text {
    font-size: 1.05rem;
  }
}

@media (min-width: 780px) and (max-width: 1024px) {
  .comment-container {
    width: 245px;
  }
  .comment-text {
    font-size: 15px;
  }
  .box-container .small {
    font-size: 15px;
  }
  .avatar-name p {
    font-size: 16px;
    line-height: normal;
  }
  .avatar-description small,
  .avatar-description p {
    font-size: 12px;
  }
}

@media (min-width: 480px) and (max-width: 780px) {
  .comment-container {
    width: 260px;
  }
  .comment-text {
    font-size: 14px;
  }
  .box-container .small {
    font-size: 14px;
  }
  .avatar-name p {
    font-size: 15px;
    line-height: normal;
  }
  .avatar-description small,
  .avatar-description p {
    font-size: 12px;
  }
}
/* 
@media (min-width: 580px) and (max-width: 680px) {
    .comment-container{
        width: 380px;
    }
} */

/* @media (min-width: 480px) and (max-width: 580px) {
    .comment-container{
        width: 350px;
    }
} */

@media (min-width: 380px) and (max-width: 480px) {
  .comment-container {
    width: 280px;
  }
  .comment-text {
    font-size: 14px;
  }
  .box-container .small {
    font-size: 14px;
  }
  .avatar-name p {
    font-size: 15px;
    line-height: normal;
  }
  .avatar-description small,
  .avatar-description p {
    font-size: 12px;
  }
}

@media (min-width: 280px) and (max-width: 380px) {
  .comment-container {
    width: 225px;
  }
  .comment-text {
    font-size: 12px;
  }
  .box-container .small {
    font-size: 12px;
  }
  .avatar-name p {
    font-size: 15px;
    line-height: normal;
  }
  .avatar-description small,
  .avatar-description p {
    font-size: 10px;
  }
}

.box-container {
  background-color: #eaf3f3;
  height: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.avatar-user {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  /* background: #ccc; */
}

.avatar-user img {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.avatar-name {
  font-weight: 600;
  font-size: larger;
}

.dropdown-box {
  border: none !important;
  padding: 0 !important;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  width: 400px !important;
}

@media (min-width: 250px) and (max-width: 480px) {
  .dropdown-box {
    width: 320px !important;
  }
}

.dropdown-item {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #fff2cc95 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ffcf40 !important;
}

footer {
  height: auto;
  background-color: #0a2e4d;
}

.img-logo img {
  width: 70px;
}

.avatar-description p,
.avatar-name p {
  text-wrap: wrap;
  line-height: 1;
}

.avatar-name {
  margin-bottom: 5px;
}

.dropdown-menu-soluciones {
  min-width: 460px !important;
}

@media (min-width: 250px) and (max-width: 990px) {
  .dropdown-menu-soluciones {
    min-width: max-content !important;
  }

  #buttons-hero {
    justify-content: center;
  }
  
}

@media (min-width: 250px) and (max-width: 425px) {
  .skewed {
    transform: scale(3);
  }

  .skewed2 {
    transform: scale(3);
  }
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/hero-background2.jpg');
  opacity: 0.6;
  z-index: -9999;
  /*background-color: rgba(25, 81, 130, 0.8);*/
}

.skewed2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 46, 77, 0.75);
  z-index: -999;
}

ul li i {
  color: #0a2e4d;
}

.link-active{
  font-weight: bold;
  
}

.link-active .nav-link{
  color: #0d365b !important;
}